[submodule "vendor/70rubyonrails/util/jump"]
	path = vendor/70rubyonrails/util/jump
	url = git://github.com/eschulte/jump.el.git
[submodule "vendor/70rubyonrails/util/test/ert"]
	path = vendor/70rubyonrails/util/test/ert
	url = git://github.com/nex3/ert.git
[submodule "vendor/70rubyonrails/yaml-mode"]
	path = vendor/70rubyonrails/yaml-mode
	url = git://github.com/crazycode/yaml-mode.git
[submodule "vendor/01base/git-emacs"]
	path = vendor/01base/git-emacs
	url = git://github.com/crazycode/git-emacs.git
[submodule "vendor/70rubyonrails/ruby-test-mode"]
	path = vendor/70rubyonrails/ruby-test-mode
	url = git://github.com/crazycode/ruby-test-mode.git
[submodule "vendor/70rubyonrails/textmate"]
	path = vendor/70rubyonrails/textmate
	url = git://github.com/defunkt/textmate.el.git
[submodule "vendor/70rubyonrails/rhtml"]
	path = vendor/70rubyonrails/rhtml
	url = git://github.com/crazycode/rhtml.git
[submodule "vendor/70rubyonrails/cucumber"]
	path = vendor/70rubyonrails/cucumber
	url = git://github.com/crazycode/cucumber.el.git
[submodule "vendor/01base/yasnippet-mirror"]
	path = vendor/01base/yasnippet-mirror
	url = git://github.com/capitaomorte/yasnippet.git
[submodule "vendor/20language/groovy-mode"]
	path = vendor/20language/groovy-mode
	url = http://github.com/timvisher/emacs-groovy-mode-mirror.git
[submodule "vendor/85authoring/showoff-mode"]
	path = vendor/85authoring/showoff-mode
	url = git://github.com/crazycode/showoff-mode.git
[submodule "vendor/70rubyonrails/inf-ruby"]
	path = vendor/70rubyonrails/inf-ruby
	url = https://github.com/nonsequitur/inf-ruby.git
[submodule "vendor/70rubyonrails/util/test/ecukes"]
	path = vendor/70rubyonrails/util/test/ecukes
	url = git://github.com/rejeep/ecukes.git
[submodule "vendor/70rubyonrails/util/test/espuds"]
	path = vendor/70rubyonrails/util/test/espuds
	url = git://github.com/rejeep/espuds.git
[submodule "vendor/70rubyonrails/rspec-mode"]
	path = vendor/70rubyonrails/rspec-mode
	url = https://github.com/pezra/rspec-mode.git
[submodule "vendor/01base/yasnippet"]
	path = vendor/01base/yasnippet
	url = git://github.com/capitaomorte/yasnippet.git
[submodule "vendor/01base/company-mode"]
	path = vendor/01base/company-mode
	url = git://github.com/nschum/company.git
[submodule "vendor/70rubyonrails/rvm"]
	path = vendor/70rubyonrails/rvm
	url = https://github.com/senny/rvm.el.git
[submodule "vendor/01base/ace-jump-mode"]
	path = vendor/01base/ace-jump-mode
	url = git://github.com/winterTTr/ace-jump-mode.git
