;; setup java environment
(setq
 jde-jdk (quote ("1.6"))
 jde-compiler (quote ("javac" ""))
 jde-jdk-registry (quote (("1.6" . "/usr/lib/jvm/java-6-openjdk")))
 jde-global-classpath (quote ("~/.emacs.d/vendor/25jdee/jde-2.4.0/classes" "/usr/lib/jvm/java-6-openjdk/"))
 jde-sourcepath (quote ("$JAVA_HOME/src" "." "./src" ""))
 jde-compile-option-debug (quote ("all" (t nil nil)))
 )
(setq jde-mvn-nexus-url "http://192.168.208.186/nexus")

;; confluence
(setq confluence-url "http://192.168.208.186/wiki/rpc/xmlrpc")
(setq confluence-default-space-alist (list (cons confluence-url "fost")))

;; smart-find
(load "smart-find")
(setq smart-find-file-path
      '("~" "~/work" "~/gitworks"))

;; set default work directory to save desktop info.
;; set different work directory by the emacs version, for support open emacs 22 & 23 in same time.
(if (>= emacs-major-version 23)
    (setq default-directory "~/gitworks")
  (setq default-directory "~/work"))

;; set backup-directory-alist
(setq backup-directory-alist (quote (("." . "~/.emacs.d/tmp"))))

;; set user infomation
(setq user-full-name "crazycode")
(setq user-mail-address "crazycode@gmail.com")
;; set default location
(setq calendar-latitude 31.22)
(setq calendar-longitude 121.48)
(setq calendar-location-name "Shanghai")

(custom-set-variables
 '(eclim-eclipse-dirs '("/opt/eclipse/eclipse-3.7")))
